/*Color codes:
    main:
        dollar green: #8CC65B
        snow: #F9FBFA
    font: 
        dark jungle green: 
    highlights:
        vermillion (pop): #DD3506
        pale gold (muted): #EDC08D
 */

body {
    background-color: #81c14b;
}

.card {
    height: 800px;
    width: 32%;
    background-color: #fafafa;
    float: left;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
}

.main-card {
    height: 800px;
    width: 64%;
    background-color: #fafafa;
    float: left;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
    overflow: hidden;
}

#search-card {
    width: 80%;
    height: 450px;
    background-color: #2E933C;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
}

#addBtn{
    display: none;
}

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}
  
input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}

.recipe-card {
    text-align: center;
    height: 400px;
    width: 85%;
    /* background-color: #ecba82; */
    border-radius: 10px;
    margin: 70px;
    background-image: url(./images/-U4wBbx6u0Q.jpg);
    background-size: cover;

}
