/*Color codes:
    main:
        dollar green: #8CC65B
        snow: #F9FBFA
    font: 
        dark jungle green: 
    highlights:
        vermillion (pop): #DD3506
        pale gold (muted): #EDC08D
 */

body {
    /* background-color: #81c14b; */
    background: url("../images/background-board.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.tarjeta {
    height: 800px;
    width: 35%;
    background-color: #fafafa;
    float: left; 
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
    /* margin: 10px 100px; */
}

/* .main-card {
    height: 800px;
    width: 64%;
    background-color: #fafafa;
    float: left;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
    overflow: hidden;
} */

#search-card {
    width: 80%;
    height: 450px;
    background-color: #2E933C;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
}

#addBtn{
    display: none;
}

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}
  
input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}

#left-card {
    margin: 10px 2.5% 10px 12.5%;
}

#recipes {
    padding: 20px;
    height: auto;
    margin: 10px 12.5% 10px 2.5%;
}

/* .recipe {
    text-align: center;
    height: 400px;
    width: 85%;
    background-color: #ecba82; 
    border-radius: 10px;
    margin: 40px;
    background-image: url(./images/-U4wBbx6u0Q.jpg);
    background-size: cover;
} */

.ingredients--used {
    list-style-type: none;
}

.ingredients--missed {
    list-style-type: none;
}

.card-image {
   /* height: 400px; */
}

img {
    max-height: 400px; 
}



.icon {
    display: inline-block;
    transform: translateY(6px);
    width: 1.3em;
    height: 1.3em;
    stroke-width: 0;
    stroke: none;
    fill: rgb(209, 0, 0);
    cursor: pointer;
  }

.favorite__list > *{
    display: flex;
    margin-bottom: 1em;
}
.favorite__img{
    min-width: 5em;
    height: 5em;
    margin-right: 1em;
}
.favorite__title{
    margin: 0;
}

#recipes {
    height: auto;
    min-height: 800px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    border-radius: 10px;
}

.card .card-image img {
    border-radius: 10px 10px 0px 0px;
}