/*Materialize color codes:
main:
    light-green: #8bc34a
    light-green lighten-5: #f1f8e9
font:
    black: #000
    white: #fff
accents: 
    deep-orange accent-4: #dd2c00
    orange lighten-3: #ffcc80

Fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive; 
*/

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* || General */

nav {
    background-color: #8bc34a;
    color: white;
    text-align: center;
}

h1 {
    color: white;
}

button {
    background-color: #8bc34a;
    color: white;
    position: center;
 }


/* || Typography */



/* || Header and Main Navigation */


/* || Favorites */


/* || Recipe Generator */

/********************************/
/*      Favorite recipes        */
/*******************************/
.favorite__img{
    min-width: 5em;
    height: 5em;
    margin-right: 1em;
}
.favorite__list > *{
    display: flex;
    margin-bottom: 1em;
}
.favorite__title{
    margin: 0;
}

.collapsible{
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
}
#modal-alert{
    max-width: 30em;
}

#recipes {
    height: auto;
    min-height: 800px;
}
.ingredients--used {
    list-style-type: none;
}

.ingredients--missed {
    list-style-type: none;
}
/* || Footer */



/* || Social Media */

.card .card-image img {
    border-radius: 10px 10px 0px 0px;
}